:root{
    --main-height: calc(100vh - 56px);
}

body {
    /* background-color: skyblue; */
}

main {
    height: var(--main-height) !important;
    height: -webkit-fill-available;
    max-height: var(--main-height);
    overflow-x: auto;
    overflow-y: hidden;
}

#sidebar {
    height: var(--main-height) !important;
    max-height: var(--main-height);
    border-right: 1px solid #c7c7c7;
}

.card{
    border: none;
    /* box-shadow: 0 0 6px 2px #00000014; */
    box-shadow: rgba(0, 0, 0, 0.12 ) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}

.h-0{
    height: 0;
}

.btn-close{
    border-radius: 100%;
    background-color: #cdcdcd;
}
.btn-close:hover{
    background-color: #ffc8c8;
}

.text-bg-blue {
    background-color: #d1e2ff;
    color: rgb(9 0 93);
    font-weight: 400;
}

.text-bg-red {
    background-color: #ffd4e0;
    color: rgb(37, 0, 0);
    font-weight: 400;
}

.text-bg-cyan {
    background-color: #c4ecff;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.text-bg-yellow {
    background-color: #ffeab6;
    color: black;
    font-weight: 400;
}

.fit-content{
    min-width: fit-content
}

.pagination{
    margin-bottom: 0;
}

.btn-round{
    font-size: 1.2rem;
    width: 32px;
    background-color: rgb(199 199 199 / 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4b4b;
    height: 32px;
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
}
.btn-round:hover{
    /* background-color: #f1f1f1; */
    transform: scale(1.1);
}