<div{{ attributes }} class="card w-100 h-100">
    <div class="card-header d-flex py-3 justify-content-between align-items-center">
        {% block header %}{% endblock %}
    </div>
    <div class="card-body overflow-auto h-0">
        {% block body %} {% endblock %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        {% block footer %}{% endblock %}
    </div>
</div>
