{% extends 'layout/main.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block main %}

    <twig:Toolbar>
        <twig:ToolbarButton toggle="modal" target="popupTransactionForm">
            <twig:ux:icon name="bi:file-earmark-plus" />
            <span>Nouveau</span>
        </twig:ToolbarButton>
        <twig:ToolbarButton color="danger">
            <twig:ux:icon name="bi:trash" />
            <span>Supprimer</span>
        </twig:ToolbarButton>
        <twig:ToolbarButton>
            <twig:ux:icon name="lucide:columns-2" />
            <span>Colonnes</span>
        </twig:ToolbarButton>
        <twig:ToolbarButton>
            <twig:ux:icon name="lucide:columns-2" />
            <span>Actualiser</span>
        </twig:ToolbarButton>        
            
    </twig:Toolbar>

<div class="d-flex h-100 gap-3">
    {% include 'transaction/_wrapper.html.twig' with {'transactions': transactions, 'limit':limit } %}
</div>

    {% include 'transaction/_popup_form.html.twig' %}

{% endblock %}
